<h1></h1>
<div class="container">
    <div class="playground">
        <iframe id="iframe1" src="/chess-board" sandbox="allow-same-origin allow-scripts"></iframe>
        <iframe id="iframe2" src="/chess-board" sandbox="allow-same-origin allow-scripts"></iframe>
    </div>
</div>
