iframe {
    width: 50%;
    height: 100vh;
}

iframe:nth-child(1) {
    float: left;
}

iframe:nth-child(2) {
    float: right;
}

.container {
    height: 80%;
}

.left-frame{
    width: 40%;
    height: 100%;
}
.right-frame {
    width: 40%;
    height: 100%;
}

h1 {
    text-align: left;
}

.playground {
    margin: 10%;
}