.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: lightblue;
}

h1 {
    font-family: Arial, sans-serif;
    font-size: 36px;
    color: white;
}

button {
    font-family: Arial, sans-serif;
    font-size: 24px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: green;
    color: white;
}

button:hover {
    transform: scale(1.1);
}